absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
blinker==1.8.2
Boruta==0.3
Bottleneck @ file:///C:/b/abs_f05kqh7yvj/croot/bottleneck_1707864273291/work
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dm-tree==0.1.8
et-xmlfile==1.1.0
filelock==3.13.4
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.4.0
gevent==24.2.1
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.62.1
h5py==3.10.0
idna==3.6
importlib_metadata==7.1.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.3.2
keras==2.10.0
Keras-Preprocessing==1.1.2
keras-tcn==3.5.0
kiwisolver==1.4.5
libclang==18.1.1
lightgbm==4.3.0
llvmlite==0.42.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mkl==2021.4.0
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
namex==0.0.7
networkx==3.2.1
numba==0.59.1
numexpr @ file:///C:/b/abs_5fucrty5dc/croot/numexpr_1696515448831/work
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
packaging==21.3
pandas @ file:///C:/b/abs_3awk0iw2ab/croot/pandas_1709590545218/work/dist/pandas-2.2.1-cp39-cp39-win_amd64.whl#sha256=f678af1dc65824be67d5789cb9f76ffef40030e586438eef2c8664c33bbd4c6c
patsy==0.5.6
Pebble==5.0.7
peewee==3.17.1
pillow==10.3.0
protobuf==3.19.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
Pygments==2.17.2
pyparsing==3.1.2
pyrpm==0.4
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-rpm-spec==0.15.0
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
PyYAML==6.0.1
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
scikeras==0.6.0
scikit-learn==1.0
scipy==1.12.0
seaborn==0.13.2
shap==0.45.0
six==1.16.0
slicer==0.0.7
statsmodels==0.14.1
sympy==1.12
tbb==2021.11.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.4.0
tldextract==5.1.2
toml==0.10.2
torch==2.3.0+cu118
torchaudio==2.3.0+cu118
torchvision==0.18.0+cu118
tqdm==4.66.2
typeguard==2.13.3
typing_extensions==4.10.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.14.1
xgboost==2.0.3
XlsxWriter==3.2.0
yarl==1.9.4
zipp==3.18.1
zope.event==5.0
zope.interface==6.4.post2
