# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=2.1.0=pypi_0
accelerate=0.32.0=pypi_0
aiofiles=23.2.1=pypi_0
aiohttp=3.9.3=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.13.2=pypi_0
altair=5.3.0=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.4.0=pypi_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
blas=1.0=mkl
blinker=1.8.2=pypi_0
boost-cpp=1.82.0=h59b6b97_2
boruta=0.3=pypi_0
bottleneck=1.3.7=py39h9128911_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2024.7.2=haa95532_0
cachetools=5.3.3=pypi_0
cairo=1.16.0=haedb8bc_5
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
cloudpickle=3.0.0=pypi_0
colorama=0.4.6=pypi_0
colorlog=6.8.2=pypi_0
contourpy=1.2.0=pypi_0
cpm-kernels=1.0.11=pypi_0
cycler=0.12.1=pypi_0
dataclasses-json=0.6.7=pypi_0
decorator=5.1.1=pypi_0
distro=1.9.0=pypi_0
dm-tree=0.1.8=pypi_0
dnspython=2.6.1=pypi_0
email-validator=2.1.1=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.1=pypi_0
executing=2.0.1=pypi_0
expat=2.6.2=hd77b12b_0
fastapi=0.111.0=pypi_0
fastapi-cli=0.0.4=pypi_0
featureselector=0.0=pypi_0
ffmpy=0.3.2=pypi_0
filelock=3.13.4=pypi_0
flask=3.0.3=pypi_0
flatbuffers=24.3.25=pypi_0
font-ttf-dejavu-sans-mono=2.37=hd3eb1b0_0
font-ttf-inconsolata=2.001=hcb22688_0
font-ttf-source-code-pro=2.030=hd3eb1b0_0
font-ttf-ubuntu=0.83=h8b1ccd4_0
fontconfig=2.14.1=h9c4af85_2
fonts-anaconda=1=h8fa9717_0
fonts-conda-ecosystem=1=hd3eb1b0_0
fonttools=4.50.0=pypi_0
freetype=2.12.1=ha860e81_0
fribidi=1.0.10=h62dcd97_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
future=1.0.0=pypi_0
gast=0.4.0=pypi_0
getopt-win32=0.1=h2bbff1b_0
gevent=24.2.1=pypi_0
giflib=5.2.1=h8cc25b3_3
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
glib=2.78.4=hd77b12b_0
glib-tools=2.78.4=hd77b12b_0
google-auth=2.29.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
gradio=4.36.1=pypi_0
gradio-client=1.0.1=pypi_0
graphite2=1.3.14=hd77b12b_1
graphviz=2.50.0=h7eca76f_1
greenlet=3.0.3=pypi_0
grpcio=1.62.1=pypi_0
gts=0.7.6=h63ab5a1_3
h11=0.14.0=pypi_0
h5py=3.10.0=pypi_0
harfbuzz=4.3.0=hb646838_2
httpcore=1.0.5=pypi_0
httptools=0.6.1=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.23.3=pypi_0
hyperopt=0.2.7=pypi_0
icu=73.1=h6c2663c_0
idna=3.6=pypi_0
imageio=2.35.0=pypi_0
importlib-metadata=7.1.0=pypi_0
importlib-resources=6.4.0=pypi_0
install=1.3.5=pypi_0
intel-openmp=2021.4.0=pypi_0
ipython=8.18.1=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.4=pypi_0
joblib=1.3.2=pypi_0
jpeg=9e=h827c3e9_2
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.22.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
keras-tcn=3.5.0=pypi_0
kiwisolver=1.4.5=pypi_0
langchain=0.2.11=pypi_0
langchain-community=0.2.10=pypi_0
langchain-core=0.2.26=pypi_0
langchain-text-splitters=0.2.1=pypi_0
langchainhub=0.1.21=pypi_0
langsmith=0.1.76=pypi_0
latex2mathml=3.77.0=pypi_0
lazy-loader=0.4=pypi_0
lcms2=2.12=h83e58a3_0
lerc=3.0=hd77b12b_0
libboost=1.82.0=h3399ecb_2
libclang=18.1.1=pypi_0
libcurl=8.7.1=h86230a5_0
libdeflate=1.17=h2bbff1b_1
libffi=3.4.4=hd77b12b_1
libgd=2.3.3=ha43c60c_1
libglib=2.78.4=ha17d25a_0
libiconv=1.16=h2bbff1b_3
libpng=1.6.39=h8cc25b3_0
libssh2=1.11.0=h291bd65_0
libtiff=4.5.1=hd77b12b_0
libwebp=1.3.2=hbc33d0d_0
libwebp-base=1.3.2=h2bbff1b_0
libxml2=2.10.4=h0ad7f3c_2
lightgbm=4.3.0=pypi_0
lime=0.2.0.1=pypi_0
llvmlite=0.42.0=pypi_0
lz4-c=1.9.4=h2bbff1b_1
mako=1.3.5=pypi_0
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.21.3=pypi_0
matplotlib=3.8.3=pypi_0
matplotlib-inline=0.1.7=pypi_0
mdtex2html=1.3.0=pypi_0
mdurl=0.1.2=pypi_0
mkl=2021.4.0=pypi_0
mkl-service=2.4.0=py39h2bbff1b_1
mkl_fft=1.3.8=py39h2bbff1b_0
mkl_random=1.2.4=py39h59b6b97_0
ml-dtypes=0.3.2=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=pypi_0
mypy-extensions=1.0.0=pypi_0
namex=0.0.7=pypi_0
networkx=3.2.1=pypi_0
numba=0.59.1=pypi_0
numexpr=2.8.7=py39h2cd9be0_0
numpy=1.26.4=py39h055cbcc_0
numpy-base=1.26.4=py39h65a83cf_0
oauthlib=3.2.2=pypi_0
openai=0.28.0=pypi_0
openjpeg=2.4.0=h4afccc4_2
openpyxl=3.1.2=pypi_0
openssl=3.0.14=h827c3e9_0
opt-einsum=3.3.0=pypi_0
optree=0.11.0=pypi_0
optuna=3.6.1=pypi_0
orjson=3.10.4=pypi_0
packaging=23.2=pypi_0
pandas=1.5.3=pypi_0
pango=1.50.7=h78c2152_0
parso=0.8.4=pypi_0
patsy=0.5.6=pypi_0
pcre2=10.42=h0ff8eda_1
pebble=5.0.7=pypi_0
peewee=3.17.1=pypi_0
pillow=10.3.0=pypi_0
pip=24.0=py39haa95532_0
pixman=0.40.0=h2bbff1b_1
poppler=22.12.0=h0bf3bde_3
poppler-data=0.4.11=haa95532_1
prompt-toolkit=3.0.47=pypi_0
protobuf=5.27.3=pypi_0
psutil=6.0.0=pypi_0
pure-eval=0.2.2=pypi_0
py4j=0.10.9.7=pypi_0
pyarrow=16.1.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pybaobabdt=1.0.1=pypi_0
pycparser=2.22=pypi_0
pydantic=2.7.3=pypi_0
pydantic-core=2.18.4=pypi_0
pydeck=0.9.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.17.2=pypi_0
pygraphviz=1.9=py39h2bbff1b_1
pyjwt=2.8.0=pypi_0
pymongo=4.8.0=pypi_0
pyparsing=3.1.2=pypi_0
pyrpm=0.4=pypi_0
python=3.9.19=h1aa4202_1
python-dateutil=2.9.0post0=py39haa95532_2
python-dotenv=1.0.1=pypi_0
python-multipart=0.0.9=pypi_0
python-rpm-spec=0.15.0=pypi_0
python-tzdata=2023.3=pyhd3eb1b0_0
pytz=2024.1=py39haa95532_0
pyyaml=6.0.1=pypi_0
qwq-package=0.1.0=pypi_0
referencing=0.35.1=pypi_0
regex=2024.5.15=pypi_0
requests=2.31.0=pypi_0
requests-file=2.0.0=pypi_0
requests-oauthlib=2.0.0=pypi_0
rich=13.7.1=pypi_0
rpds-py=0.18.1=pypi_0
rsa=4.9=pypi_0
ruff=0.4.8=pypi_0
safetensors=0.4.3=pypi_0
scikeras=0.6.0=pypi_0
scikit-image=0.24.0=pypi_0
scikit-learn=1.3.0=pypi_0
scipy=1.12.0=pypi_0
seaborn=0.13.2=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=69.5.1=py39haa95532_0
shap=0.45.0=pypi_0
shellingham=1.5.4=pypi_0
six=1.16.0=pyhd3eb1b0_1
slicer=0.0.7=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.1=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.45.3=h2bbff1b_0
sse-starlette=2.1.2=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.37.2=pypi_0
statsmodels=0.14.1=pypi_0
streamlit=1.36.0=pypi_0
sympy=1.12=pypi_0
tbb=2021.11.0=pypi_0
tenacity=8.3.0=pypi_0
tensorboard=2.10.1=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.10.0=pypi_0
tensorflow-addons=0.22.0=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-intel=2.16.1=pypi_0
tensorflow-io-gcs-filesystem=0.31.0=pypi_0
termcolor=2.4.0=pypi_0
threadpoolctl=3.4.0=pypi_0
tifffile=2024.8.10=pypi_0
tldextract=5.1.2=pypi_0
tokenizers=0.13.3=pypi_0
toml=0.10.2=pypi_0
tomlkit=0.12.0=pypi_0
toolz=0.12.1=pypi_0
torch=2.3.0+cu118=pypi_0
torchaudio=2.3.0+cu118=pypi_0
torchvision=0.18.0+cu118=pypi_0
tornado=6.4.1=pypi_0
tqdm=4.66.2=pypi_0
traitlets=5.14.3=pypi_0
transformers=4.30.2=pypi_0
typeguard=2.13.3=pypi_0
typer=0.12.3=pypi_0
types-requests=2.32.0.20240712=pypi_0
typing-extensions=4.10.0=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024a=h04d1e81_0
ujson=5.10.0=pypi_0
urllib3=2.2.1=pypi_0
uvicorn=0.30.1=pypi_0
vc=14.2=h2eaa2aa_4
vs2015_runtime=14.29.30133=h43f2093_4
watchdog=4.0.1=pypi_0
watchfiles=0.22.0=pypi_0
wcwidth=0.2.13=pypi_0
websockets=11.0.3=pypi_0
werkzeug=3.0.2=pypi_0
wheel=0.43.0=py39haa95532_0
wrapt=1.14.1=pypi_0
xgboost=2.0.3=pypi_0
xlsxwriter=3.2.0=pypi_0
xz=5.4.6=h8cc25b3_1
yarl=1.9.4=pypi_0
zhipuai=2.1.0.20240521=pypi_0
zipp=3.18.1=pypi_0
zlib=1.2.13=h8cc25b3_1
zope-event=5.0=pypi_0
zope-interface=6.4.post2=pypi_0
zstd=1.5.5=hd43e919_2
